<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Add new API Key</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeAddNewAPIKey()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="addNewKey()">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Key Name</span>
                    <input type="text" placeholder="Key Name" ng-model="newkey.name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Key ID</span>
                    <input type="text" placeholder="Key ID" ng-model="newkey.id">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Verification Code</span>
                    <input type="text" placeholder="Verification Code" ng-model="newkey.code">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Add key</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
