<ion-view view-title="API Key">
    <ion-content padded="true">
        <div class="list card">
            <div class="item item-divider">
                <h2>{{eveApi.accounts[keyID].name}}</h2>
            </div>
            <div class="item">
                <p>Key ID: {{keyID}}</p>
                <p>Verification Code: {{eveApi.accounts[keyID].verificationCode}}</p>
                <p>Key Expires: {{eveApi.accounts[keyID].expires}}</p>
                <p>Key Status: {{eveApi.accounts[keyID].status}}
            </div>
            <div class="item item-divider">
                <h2>Characters</h2>
            </div>
            <div class="item">
                <p ng-repeat="char in eveApi.accounts[keyID].characters">{{char}} {{eveApi.characters[char].name}}</p>
            </div>
            <div class="item">
                <button ng-click="delete()" class="button button-block">Delete key</button>
            </div>
        </div>
    </ion-content>
</ion-view>
