<ion-view view-title="Character Sheet">
    <ion-content>
        <div class="list card padded">
            <div class="item item-image">
                <img ng-src="http://image.eveonline.com/character/{{characterID}}_512.jpg">
            </div>
            <div class="item">
                <h2>{{eveApi.characters[characterID].name}}</h2>
                <p>{{eveApi.characters[characterID].corporationName}}</p>
                <p>{{eveApi.characters[characterID].allianceName}}</p>
            </div>
            <div class="item">
                <p>Birthday: {{eveApi.characters[characterID].dateOfBirth}}</p>
                <p>{{eveApi.characters[characterID].race}} - {{eveApi.characters[characterID].bloodline}} - {{eveApi.characters[characterID].ancestry}}</p>
                <p>Balance: {{eveApi.characters[characterID].balance}} isk</p>
            </div>
            <div class="item">
                <h2>Attributes</h2>
                <div class="row" ng-repeat="(attribute, value) in eveApi.characters[characterID].attributes">
                    <div class="col">
                        <p>{{attribute}}</p>
                    </div>
                    <div class="col col-20">
                        <p>{{value}}</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <h2>Implants</h2>
                <p ng-repeat="implant in eveApi.characters[characterID].implants">{{implant.implantName}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>
