<ion-view view-title="Characters">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-radio ng-repeat="character in eveApi.characters" ng-model="userService.selectedCharacter" ng-value="character.characterID" ng-change="userService.save()" class="item-thumbnail-left">
                <img ng-src="http://image.eveonline.com/character/{{character.characterID}}_512.jpg">
                <h2>{{character.name}}</h2>
                <p>{{character.corporationName}}</p>
                <p>{{character.allianceName}} </p>
            </ion-radio>
        </ion-list>
    </ion-content>
</ion-view>
