<ion-view view-title="Skills">
    <ion-tabs class="tabs-striped tabs-positive tabs-top tabs-icon-top">
        <ion-tab title="Queue" icon="ion-arrow-graph-up-left">
            <ion-header-bar></ion-header-bar>
            <!-- Tab 1 content -->
            <ion-content class="padding">
            </ion-content>
        </ion-tab>
        <ion-tab title="Character" icon-on="ion-ios-pie" icon-off="ion-ios-pie-outline">
            <ion-header-bar></ion-header-bar>
            <!-- Tab 2 content -->
            <ion-content class="padding">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input ng-model="skillSearch" type="search" placeholder="Search">
                </label>
                <ion-list>
                    <ion-item class="row" collection-repeat="skill in currentSkills | filter:skillSearch" item-height="40px">
                        <p class="col">{{skill.skill}}</p>
                        <p class="col col-10">{{skill.level}}</p>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-tab>
        <ion-tab title="All" icon="ion-arrow-graph-up-right">
            <ion-header-bar></ion-header-bar>
            <!-- Tab 3 content -->
            <ion-content class="padding">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input ng-model="allSkillSearch.skillName" type="search" placeholder="Search">
                </label>
                <ion-list>
                    <ion-item class="row" collection-repeat="skill in allSkills | filter:allSkillSearch">
                        <p class="col">{{skill.skillName}}</p>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>
