<ion-view view-title="Add new API key">
    <ion-content padding="true" scroll="false" class="has-header">
        <div>
            <h2>Where do I get the API key?</h2>
            <p>Create EVE API key at the link below, for testing purposes I prefer the full key. App supports multiple characters</p>
        </div>
        <form name="newkeyform">

            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Key Name</span>
                    <input type="text" placeholder="Key Name" ng-model="newkey.name" required></input>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Key ID</span>
                    <input type="text" placeholder="Key ID" ng-model="newkey.keyID" required></input>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Verification Code</span>
                    <input type="text" placeholder="Verification Code" ng-model="newkey.verificationCode" required></input>
                </label>
                <button class="button-clear"
                        ng-disabled="newkeyform.$invalid"
                        ng-click="addNewKey(newkey)">
                    ADD NEW KEY
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
