<ion-view view-title="Skills">
    <ion-tabs class="tabs-top tabs-striped">
        <ion-tab title="Queue" ui-sref="app.skills.queue({id: settings.selectedCharacter})">
            <ion-nav-view name="queue"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Current" ui-sref="app.skills.current({id: settings.selectedCharacter})">
            <ion-nav-view name="current"></ion-nav-view>
        </ion-tab>
        <ion-tab title="All" ui-sref="app.skills.all">
            <ion-nav-view name="all"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
