<ion-view view-title="Characters">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item ng-if="!characters.list().length" class="item-text-wrap">No characters present, either you haven't added a key yet or your account doesn't have any characters</ion-item>
            <ion-radio  ng-model="$parent.selectedCharacter"
                        ng-repeat="character in characters.list()"
                        ng-value="character.characterID"
                        ng-change="selectCharacter($parent.selectedCharacter)"
                        class="item-thumbnail-left">
                <img ng-src="http://image.eveonline.com/character/{{character.characterID}}_512.jpg">
                <h2>{{character.name}}</h2>
                <p>{{character.corporationName}}</p>
                <p>{{character.allianceName}} </p>
            </ion-radio>
        </ion-list>
    </ion-content>
</ion-view>
