<ion-view view-title="Skill Plans">
    <ion-content padding="true">
        <ion-list>
            <ion-item ng-hide="checkIfEmpty(skillPlans.skillPlans)">No skill plans</ion-item>
            <ion-item ng-repeat="plan in skillPlans.skillPlans" href="#/app/plans/{{plan._id}}">
                <h2>{{plan.name}}</h2>
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="float-button">
        <span class="height-fix">
            <a ui-sref="app.plans.new" class="content">
                <i class="ion-plus-round"></i>
            </a>
        </span>
    </div>
</ion-view>
