<ion-view view-title="New Training Plan">
    <ion-content padding="true" scroll="true" class="has-header">
        <form name="trainingform">
            <button class="button-clear" ng-click="saveTraining()">SAVE TRAINING</button>
            <ion-list>
                <ion-item>
                    <h2>Name</h2>
                    <p>{{newtraining.name}}</p>
                </ion-item>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Character
                    </div>
                    <select ng-model="newtraining.characterID"
                            ng-options="character.characterID as character.name for (id, character) in characters"
                            ng-change="updateName()">
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Skill Plan
                    </div>
                    <select ng-model="newtraining.planID"
                            ng-options="plan._id as plan.name for (id, plan) in skillPlans"
                            ng-change="updateName()">
                    </select>
                </label>
            </ion-list>
        </form>
    </ion-content>
</ion-view>
